<nav class="navbar">
      <span class="navbar-brand">Navbar</span>
      <ul class="navbar-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="todo-view">Todo</a></li>
        <li><a href="/login">Logout</a></li>
      </ul>
    </nav>