<div class="login-container">
    <div class="login-card">
      <img src="/img/gost2.jpg" alt="Logo" class="logo">
      <h2>log-in</h2>
      <p>silahkan masuk dengan akun yang terdaftar</p>
      <form action = "/login" method="POST">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <div class="help-text">
          <span>buat baru??</span> <a href="/signup">signUp</a>
        </div>
        <button type="submit">login</button>
      </form>
    </div>
  </div>