<div class="login-container">
    <div class="login-card">
      <img src="/img/gost2.jpg" alt="Logo" class="logo">
      <h2>SignUp</h2>
      <p>silahkan daftarkan akun anda!!</p>
      <form action = "/signup" method="POST">
        <input type="text" placeholder="Username" name="username" required>
        <input type="password" placeholder="Password" name="password" required>
        <div class="help-text">
          <span>udah punya akun??</span> <a href="/login">signIn</a>
        </div>
        <button type="submit">SignUp</button>
      </form>
    </div>
  </div>